<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email list</title>
</head>
<body>
    
    <div id="app">

        <h1>List of a random Emails</h1>
        
        <ol v-if="randomEmails.length == 10">
            <li style="padding: 0.5rem; font-size: 20px;" v-for="email in randomEmails"><a href="#">{{email}}</a></li>
        </ol>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./asset/js/script.js"></script>
</body>
</html>